# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/log
/build/.cmake
/build/bin/CMakeFiles
/build/CMakeFiles
/build/GAUSSIANMIXTURE
build/CMakeCache.txt
/.vscode
build/bin/average_fitness.txt
build/bin/GaussianMixture
build/bin/cmake_install.cmake
/build/bin/lib
/build/bin/bin
memcpy_times.csv
build/bin/bestFitness.txt
cpu_fitness_times.csv
cpu_update_times.csv
